<h3>Shipping Prices</h3>

<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
<span>{{shipping.type}}</span>
<span>{{shipping.price | currency}}</span>

</div>

<select [(ngModel)]="selectedShipping" (change)="selectShipping($event.target.value)">
    <option [value]="None">None</option>
    <option [value]="shipping.type" *ngFor="let shipping of shippingCosts | async">{{shipping.type}}</option>
</select>

<h3>Current Shipping: <span *ngIf="selectedShipping">{{selectedShipping}}</span></h3>
