<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>

<a [routerLink]="['/cart']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>

<a [routerLink]="['/wishlist']" class="button fancy-button">
    <i class="material-icons">star</i>
    Wishlist
</a>

<a [routerLink]="['/register']" class="button fancy-button">
    <i class="material-icons">account_box</i>
    Register
</a>

<a [routerLink]="['/login']" class="button fancy-button">
    <i class="material-icons">fingerprint</i>
    Login
</a>
<a [routerLink]="['/users']" class="button fancy-button" *ngIf="showUsers()">
    <i class="material-icons">account_circle</i>
    Users
</a>

<button class='button fancy-button' (click)='menu.showMenu()'>Menu</button>
<app-menu #menu></app-menu>